.items {
  color: #acb5bd;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
}

.items-container {
  display: flex;
  gap: 45px;
}

.navbar-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 58px;
}

.items.btn {
  background-image: linear-gradient(to right, #7c3aed, #32c08c); /* #34d399 */
  width: 80px;
  height: 29px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.items.btn > svg {
  margin-right: 6px;
  stroke-width: 3px; /* Increase the stroke  */
}
